[Unit]
Description=Zookeeper UI Daemon
After=syslog.target

[Service]    
WorkingDirectory=/opt/zkui
User=zkui
Group=zkui
ExecStart=java -jar zkui.jar
SuccessExitStatus=143
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
