[Unit]
Description=Zookeeper UI Daemon
Requires=network.target
After=network.target

[Service]    
Type=forking
WorkingDirectory=/opt/zkui
User=zkui
Group=zkui
ExecStart=java -jar zkui.jar
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=default.target
